*{
    padding:0px;
    margin:0;
    box-sizing: border-box;
    font-family: "Poppins";
}
html,body{
    width:100%;
    height: 100%;
            background-color: #F5F7F6;

}
head{
    overflow-y: scroll;
    transition: all .3s;
}
main{
    margin:1%;
    color: white;

   min-height:96vh;
   background-image: url("https://images.unsplash.com/photo-1617821620536-765f8849c87c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
object-fit: cover;
   background-position: 0px 60%;
   nav{
    color: white;
    padding:10px 10px;
    width:100%;
    min-height:10vh;
    display: flex;
    justify-content: space-between;

    z-index: 1;
    position: sticky;
    top:0;

    .anchors{
        padding: 5px 0;
        display: flex;
        gap:15px;
        a{
            padding: 5px 0px;
            color: white;
            text-decoration:none ;

        }
        div{
            padding:5px 5px;
            height:35px;
            border: 2px solid white;
            transition: all .5s;
        }
        div:hover{
            background-color: black;
            border: 2px solid black;
            color:white;
        }
        }

}
.middletext{
    height: 70vh;
    padding: 5%;


    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    gap:5px;
    h1{
        font-size: 8rem;
        line-height: 100%;
    }
    p{
        font-size: 1.4rem;
    }
    hr{
        text-align: center;
        width: 1.5rem;
        height:.3rem;
        background-color:white;
    }
}
margin-bottom: 70px;
}

.middle{
    
    padding: 10px;
    width:100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap:3em;
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-weight: 600;
            font-size: 3rem ;
        }
    }
     hr{

        width: 3.5rem;
        height:.4rem;
        background-color:black;
    }
.card{
    height: 60vh;

    display: flex;
   align-items: center;
   justify-content: center;
    
    gap:2rem;
    .cards{
        box-sizing: border-box;
        width:30%;
        height: 100%;
        display: flex;
        flex-direction: column;
   
        align-items: center;
        text-align: center;
        gap:5vh;
        box-shadow: 2px 20px 20px +4;
        img{
            height:60%;
            width:100%;
            margin-bottom: 2vh;
            
        }
        hr{
            text-align: center;
        width: 2.5rem;
        height:.2rem;
        background-color:black;
        margin-bottom: -.7rem;
        }
        p{
            font-size: 1rem;
            font-weight: 500;
        }
        transition: all ease-in .5s;
    }
}

}
.about{
    margin-top: 2%;
       padding:1%;


    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;

    min-height:75vh;
    align-items:center;
    img{
            width:100%;
    height:110%;
    object-fit:cover;
    display:block;
    }
    .texts{
        

        
        display: flex;
                flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        hr{
            width:3rem;
            height:.2rem;
            background-color: black;
            margin-bottom: 5%;
        }
        h1{
            font-size: 3rem;
            font-weight: 500;
        }
        p{
            text-align: center;
            font-weight: 400;
            font-size: 1.3rem;
        }
    }
}
footer{
    width: 100%;
    min-height: 60vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding:5px;
    h1{
        font-size: 3rem;
        line-height: 0%;
       
        }
        p{
            font-size:1.2rem;
        }
    input{
        font-size: 1rem;
        padding: 10px;
        border: 1px solid transparent;
        background-color: white;
        border-radius: 2px;
    }
    button{
        padding:2px 20px;
        transition: all .3s;
    }
    button:active{
        scale:0.8;
    }
    
}
.end{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    padding-bottom: 20vh;
    .icons{
        display: flex;
        gap:12px;
    i{
        
        font-size: 1.5rem;
        font-weight: 600;
    }
}
.endanchors{
    display: flex;
    gap:10px;
    a{

        text-decoration: none;
        color:black;
        font-weight: 500;
    }
    
    
}
}

.cards:hover{
    scale:1.1;
    
}

